.list-category {
  width: 100%;
  margin-bottom: 8px;
  background-color: rgb(255, 255, 255);
  margin-top: 16px;
  &__header {
    padding-left: 16px;
    padding-right: 6px;
    height: 56px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    display: table;
    position: relative;
    &-title {
      display: table-cell;
      vertical-align: middle;
      div {
        margin: 0px;
        vertical-align: middle;
        display: block;
        font-family: GothamSSm-Book;
        color: rgb(82, 82, 82);
        font-size: 18px;
        line-height: 27px;
        white-space: normal;
      }
    }
  }
  &__container {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    &-content {
      padding: 0px 20px 40px 20px;
      div {
        margin-top: 16px;
      }
    }
  }
  @media only screen and (max-width: 700px){
    &__container {
      padding-left: 10px;
      padding-right: 0px;
      display: flex;
      &-content {
        padding: 0px 10px 40px 10px;
        div {
          font-size: 12px;
        }
      }
    }
  }
}
.category {
  width: 100%;
  cursor: pointer;
  img {
    width: 100px;
    border-radius: 50%;
  }
}
@media only screen and (max-width: 700px){
  .category {
    width: 100%;
    cursor: pointer;
    img {
      width: 70px;
      border-radius: 50%;
    }
  }
}
