.card-product {
  margin-bottom: 20px;
  &__img {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
      object-fit: cover;
      z-index: 1;
    }
    &-label {
      width: 100%;
      z-index: 2;
      pointer-events: none;
      display: block;
      position: absolute;
      left: 0px;
      bottom: 0px;
      padding-bottom: 32px;
      div {
        background-color: rgb(190, 138, 35);
        padding: 3px 8px;
        display: table;
        color: white;
      }
    }
  }
  &__header {
    margin-top: 12px;
    padding: 0px 30px 0px 16px;
    &-title {
      font-size: 18px;
      width: 70%;
      cursor: pointer;
    }
    &-label {
      background-color: rgb(232, 232, 232);
      padding: 3px 8px;
      margin-top: 4px;
    }
    span {
      display: flexbox;
      margin-top: -20px;
      // width: 10%;
      float: right;
      button {
        font-size: 18px;
        padding: 7px 15px;
      }
    }
    &-price {
      color: rgb(82, 82, 82);
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      white-space: normal;
    }
    @media only screen and (max-width: 700px){
      &-title {
        font-size: 14px;
        width: 70%;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-label {
        background-color: rgb(232, 232, 232);
        padding: 3px 8px;
        margin-top: 4px;
        font-size: 12px;
      }
      &-price {
        color: rgb(82, 82, 82);
        font-size: 15px;
        line-height: 24px;
        font-weight: 700;
        white-space: normal;
      }
      span {
        display: flexbox;
        margin-top: -30px;
        // width: 10%;
        float: right;
        margin-right: -14px;
        button {
          font-size: 12px;
          padding: 7px 15px
        }
      }
    }
    
  }
}
